<% include header %>
<div class="panel form-panel">
    <h2>Insert the Passcode</h2>
	<form action="/auth/passcode" method="POST" id="passcode">
		<div class="form-field-group">
			<div>An email will be sent with a unique token which will allow you to log in.
				Please enter the token in the input field provided below.</div>
			<input class="form-field" name="passcode" placeholder="Passcode" required>
			<input class="form-field" type="hidden" name="email" value="<%= email %>">
		    <button type="submit">Log in</button>
		</div>
	</form>
</div>
<% include footer %>
