<% include header %>

<div>
    <div class="content">
        <h2 class="content-head is-center">Forecast form</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked" name="forecast" method="post"
                      action="/forecasts<% if (forecast && forecast._id) { %>/<%= forecast._id %> <% } %>">
                    <fieldset>

                        <div class="row">
                            <label>User</label>
                            <input type="text" name="user" value="<%= forecast.user %>">
                        </div>
                        <div class="row">
                            <label>Name</label>
                            <input type="text" name="name" value="<%= forecast.name %>">
                        </div>
                        <div class="row">
                            <label>Description</label>
                            <input type="text" name="description" value="<%= forecast.description %>">
                        </div>
                        <div class="row">
                            <label>StartDate</label>
                            <input type="text" name="startDate" value="<%= forecast.startDate %>">
                        </div>
                        <div class="row">
                            <label>EndDate</label>
                            <input type="text" name="endDate" value="<%= forecast.endDate %>">
                        </div>
                        <div class="row">
                            <label>Completed</label>
                            <input type="text" name="completed" value="<%= forecast.completed %>">
                        </div>

                        <button type="submit" class="pure-button">Save</button>
                    </fieldset>
                </form>
                <% if (forecast && forecast._id) { %>
                <form method="delete" action="/forecastss<%= forecast._id %>">
                    <input type="submit" class="pure-button" value="Delete"/>
                </form>
                <% } %>
            </div>

        </div>
    </div>
</div>
<% include footer %>
